.news {
    margin-bottom: 2rem;
    padding: 2.5rem 1rem;
    text-align: center;
    border-radius: 12px;
}

.heading {
    color: var(--color-headings-primary);
    margin-bottom: 1rem; 
    font-size: 2rem;
}

.text {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .heading {
        font-size: 1.6rem;
    }
    .text {
        font-size: 1rem;
    }
}